.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	/* vertical align to the middle */
	justify-content: center;

	min-height: calc(
		100vh - var(--db-sizing-md) + var(--db-spacing-fixed-xs) * 2 - 70px
	);

	h1, p {
		max-inline-size: 640px;
		text-align: center;
	}
}
