<main class="your-trip">
	<h1>Your trip</h1>
	<p class="travel">
		<strong
			>Copenhagen <db-icon icon="arrow_right">to</db-icon> Paris</strong
		>
		3-day trip starting on 24 Jun 2025 at 09:21
	</p>
	<p class="stop">Stockholm</p>
	<p class="time">24 Jun 2025 - 09:21</p>
	<db-card>
		<dl>
			<dt>09:21</dt>
			<dd><strong>Stockholm C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Malmö C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="pedestrian">
		Umsteigen
	</db-card>
	<db-card>
		<dl>
			<dt>14:20</dt>
			<dd><strong>Malmö C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Kobenhavn C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="moon">
		Copenhagen
	</db-card>
	<db-card>
		<dl>
			<dt>14:20</dt>
			<dd><strong>Malmö C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Kobenhavn C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="pedestrian">
		Umsteigen
	</db-card>
	<db-card>
		<dl>
			<dt>15:24</dt>
			<dd><strong>Kobenhavn C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Hamburg C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="moon">
		Hamburg
	</db-card>
	<db-card>
		<dl>
			<dt>14:20</dt>
			<dd><strong>Malmö C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Kobenhavn C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="pedestrian">
		Umsteigen
	</db-card>
	<db-card>
		<dl>
			<dt>15:24</dt>
			<dd><strong>Kobenhavn C</strong> Gleis 1</dd>
			<dt>13:52</dt>
			<dd><strong>Hamburg C</strong> Gleis 1</dd>
		</dl>
	</db-card>
	<db-card icon="map_pin">
		Paris
	</db-card>
	<db-button type="button" variant="brand" width="full"
		>Book the trip</db-button
	>
</main>
