.your-trip {
	.travel {
		background-color: var(--db-adaptive-bg-basic-level-1-default);

		strong {
			display: block;
			font-weight: 900;
			font-size: var(--db-headline-size-md);

		}
	}

	.stop {
		background-color: var(--db-adaptive-bg-basic-level-1-default);
		font-weight: 900;

		&:first-of-type,
		&:last-of-type {
			background-color: var(--db-adaptive-bg-basic-level-1-default);
		}
	}
}
