.your-trip {
	display: flex;
	height: 100vh;
	overflow-x: hidden;

	section {
		flex: 0 0 40%;
		overflow-y: scroll;

		padding: 1.75rem;
		padding-block-start: 3rem;
	}

	aside {
		flex: 0 0 60%;
	}

	.travel {
		padding: 1rem;
		border-radius: 0.75rem;

		padding-block-start: 0.5rem;

		margin-block-end: 0.25rem;
	}

	.db-card {
		margin-block: 0.5rem;
	}

	.stop {
		background-color: var(--db-adaptive-bg-basic-level-1-default);
		font-weight: 900;

		.db-icon:before {
			background-color: var(--db-adaptive-bg-basic-level-3-default);
		}

		&:first-of-type,
		&:last-of-type {
			background-color: var(--db-adaptive-bg-basic-level-1-default);
		}
	}

	dl {
		display: grid;
		grid-template-columns: max-content auto;

		dt {
			grid-column-start: 1;
		}
		dd {
			grid-column-start: 2;

			margin-left: 1rem;
		}
	}

	.loading {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}