<main class="your-trip">
	@if (result) {

		<section>
			<h1>Your trip</h1>

			@let first = result.trips[0];
			@let last = result.trips[result.trips.length - 1];


			<p class="travel">
				<strong>{{ first.departureStationName }}
					<db-icon icon="arrow_right">to</db-icon>
					{{ last.arrivalStationName }}</strong>
<!--				3-day trip starting on 24 Jun 2025 at 09:21-->
			</p>
<!--			<p class="stop" data-color="green">-->
<!--				<db-icon icon="start"></db-icon>-->
<!--				Stockholm-->
<!--			</p>-->
			<p class="time">24 Jun 2025 - 09:21</p>

			@for (resultPart of result?.trips; track resultPart.trainName) {
				<db-card>
					<dl>
						<dt>{{ resultPart.departureTime | date : 'hh:mm' }}</dt>
						<dd>{{ resultPart.departureStationName }}</dd>
						<dt>{{ resultPart.arrivalTime | date : 'hh:mm' }}</dt>
						<dd>{{ resultPart.arrivalStationName }}</dd>
					</dl>
				</db-card>
			}




			<db-button type="button" variant="brand" width="full">Book the trip</db-button>
		</section>
		<aside>
			<app-train-map [tripResponse]="result"></app-train-map>
		</aside>
	} @else {
		<div>loading...</div>
	}
</main>
