<main class="your-trip">
	@if (tripsWithTransfer) {

		<section>
			<h1>Your trip</h1>

			@let first = tripsWithTransfer[0];
			@let last = tripsWithTransfer[tripsWithTransfer.length - 1];

			<p class="travel">
				<strong>{{ first.trip.departureStationName }}
					<db-icon icon="arrow_right">to</db-icon>
					{{ last.trip.arrivalStationName }}</strong>
				{{ nrOfDays }}-day trip starting on {{ first.trip.departureTime | date : 'MMM d, y, HH:mm'  }}
			</p>
			@for (tripWithTransfer of tripsWithTransfer; track tripWithTransfer.trip.trainName) {
				<db-card>
					<dl>
						<dt>{{ tripWithTransfer.trip.departureTime | date : 'HH:mm' }}</dt>
						<dd>{{ tripWithTransfer.trip.departureStationName }}</dd>
						<dt>{{ tripWithTransfer.trip.arrivalTime | date : 'HH:mm' }}</dt>
						<dd>{{ tripWithTransfer.trip.arrivalStationName }}</dd>
						<dd>{{ tripWithTransfer.trip.trainName }}</dd>
					</dl>
				</db-card>
				@if (tripWithTransfer.transfer && tripWithTransfer.transfer.isNight) {
					<db-card data-color="blue" class="stop">
						<db-icon icon="moon"></db-icon>
						{{ tripWithTransfer.trip.arrivalStationName }}
					</db-card>
				}
				@if (tripWithTransfer.transfer && !tripWithTransfer.transfer.isNight) {
					<db-card>
						<db-icon icon="pedestrian"></db-icon>
						Transfer
					</db-card>
				}
			}

			<db-button type="button" variant="brand" width="full">Book the trip</db-button>
		</section>
		<aside>
			<app-train-map [tripResponse]="response"></app-train-map>
		</aside>
	} @else {
		<div>loading...</div>
	}
</main>
