<db-card>
	<div [formGroup]="form" class="quickfinder">
		<fieldset>
			<legend></legend>
			<db-input formControlName="from" label="From" variant="floating" [dataList]="fromResult"></db-input>
			<db-button icon="arrows_horizontal" noText="true" variant="ghost">Switch from and to stations</db-button>
			<db-input formControlName="to" label="To" variant="floating" [dataList]="toResult"></db-input>
		</fieldset>
		<db-input
			type="number"
			label="Maximal Travel Time/day (h)"
			variant="floating"
			formControlName="maxTravelTime"
		></db-input>
		<db-button type="submit" variant="brand" width="full" (click)="onSubmit()">Search</db-button>
	</div>
</db-card>
